<header class="applicant-card-header">
	{{#liquid-if applicant.hasName}}
		<h1 class="applicant-name">
			<span class="applicant-full-name">{{applicant.fullName}}</span>
			{{#liquid-if applicant.isPrimary}}
				 (primary applicant)
			{{/liquid-if}}
		</h1>
	{{/liquid-if}}
	<ul class="applicant-actions">
		{{#liquid-unless applicant.isPrimary}}
			<li class="applicant-action">
				<button {{action "removeApplicant" applicant}}>Remove {{applicant.fullName}}</button>
			</li>
		{{/liquid-unless}}
		{{#liquid-if isEditable}}
			<li>
				<button {{action "toggleEditing" applicant}}>
					{{#liquid-if isEditing}}
						Done
					{{else}}
						Edit
					{{/liquid-if}}
				</button>
			</li>
		{{/liquid-if}}
	</ul>
</header>
{{#liquid-if isEditing}}
	{{#form-section title="basic-information" icon="info-sign"}}
		<div class = "row">
			{{#form-field title="First Name" class="one-half"}}
				{{input value=applicant.firstName placeholder="First Name" required="required" autofocus="autofocus" title="Please provide the applicant's first name"}}
			{{/form-field}}
			{{#form-field title="Last Name" class="one-half"}}
				{{input value=applicant.lastName placeholder="Last Name" required="required" title="Please provide the applicant's last name"}}
			{{/form-field}}
		</div>
		{{#form-field title="Email"}}
			{{input value=applicant.email required="required" type="email" placeholder="Email" title="Please enter a valid e-mail"}}
		{{/form-field}}
		{{#form-field title="Phone"}}
			{{input value=applicant.phone type="tel" required="required" placeholder="Phone" title="Please provide the applicant's phone number"}}
		{{/form-field}}
		{{#form-field title="Birth Date"}}
			{{input type="date" value=applicant.birthDate required="required" title="Please provide the date of birth of the applicant"}}
		{{/form-field}}
	{{/form-section}}
	{{#form-section title="Location" icon="pin"}}
		{{historical-addresses previousAddresses=applicant.previousAddresses currentAddress=applicant.currentAddress onAddAddress="addAddress"}}
	{{/form-section}}
	{{#form-section title="Employment" icon="hat"}}
		<button {{action "addEmployment" applicant}}>Add Employment</button>
		{{#each historicalEmployment in applicant.employment}}
			{{historical-employment employment=historicalEmployment onRemove="removeEmployment"}}
		{{else}}
			No employment history for {{applicant.fullName}}.  <button {{action "addEmployment" applicant}}>Add Employment</button>
		{{/each}}
	{{/form-section}}
	{{#form-section title="Assets" icon="coin"}}
		{{asset-table assets=applicant.assets onAdd="addAsset" caption="Assets for applicant"}}
	{{/form-section}}
	{{#form-section title="Liabilities" icon="hand"}}
		{{liability-table liabilities=applicant.liabilities onAdd="addLiability" properties=applicant.properties}}
	{{/form-section}}
{{else}}
	<dl class="applicant-card-details">
		{{#liquid-if applicant.email}}
			<dt>Email</dt>
			<dd>{{applicant.email}}</dd>
		{{/liquid-if}}
		{{#liquid-if applicant.phone}}
			<dt>Phone</dt>
			<dd>{{applicant.phone}}</dd>
		{{/liquid-if}}
		{{#liquid-if applicant.birthDate}}
			<dt>Birth Date</dt>
			<dd>{{applicant.birthDate}}</dd>
		{{/liquid-if}}
	</dl>
{{/liquid-if}}

{{yield}}
