{{#if application}}
	<button {{action "addApplicant"}} class="add-button add-applicant">Add Co-Applicant</button>
	<article class="application-summary">
		<section class="applicant-summary-personal-info">
			{{#each application.applicants as |applicant|}}
				{{applicant-card applicant=applicant isEditable=true onRemoveApplicant="removeApplicant"}}
			{{else}}
				<span class="error">Looks like you have no applicants... maybe you should <a {{action "addApplicant"}}>add one</a>.</span>
			{{/each}}
		</section>
		<section class="application-summary-joint box">
			<section class="applicant-summary-joint-income">
				<h2 class="applicant-summary-title"><sup class="applicant-summary-title-type">Joint</sup> Income</h2>
				{{income-table flatList=true income=application.income onAdd="addIncome" onRemove="removeIncome" isEditable=true showApplicant=hasCoApplicants}}
			</section>
			<div class="row">
				<section class="applicant-summary-joint-assets column">
					<h2 class="applicant-summary-title"><sup class="applicant-summary-title-type">Joint</sup> Assets</h2>
					{{asset-table assets=application.assets isEditable=true onAdd="addAsset" onRemove="removeAsset" showApplicant=hasCoApplicants}}
				</section>
				<section class="applicant-summary-joint-liabilities column">
					<h2 class="applicant-summary-title"><sup class="applicant-summary-title-type">Joint</sup> Liabilities</h2>
					{{liability-table liabilities=application.liabilities isEditable=true onAdd="addLiability" onRemove="removeLiability" showApplicant=hasCoApplicants}}
				</section>
			</div>
		</section>
		{{#form-field label="Got anything else to add?  Don't be shy!  Now is your chance."}}
			{{textarea value=application.comment}}
		{{/form-field}}
	</article>
{{/if}}

{{yield}}
