<header class="applicant-card-header">
	{{#liquid-if applicant.hasName}}
		<h1 class="applicant-card-title">
			<span class="applicant-card-full-name">{{applicant.fullName}}</span>
			{{#if applicant.isPrimary}}
				<span class="applicant-card-role">Primary Applicant</span>
			{{/if}}
		</h1>
	{{/liquid-if}}
	{{#liquid-if applicant.hasValidEmail}}
		{{gravatar-image email=applicant.email alt=applicant.fullName size=250 defaultImage="identicon" class="applicant-card-image" secure=false title=applicant.fullName}}
	{{/liquid-if}}
	<ul class="applicant-card-actions">
		{{#unless applicant.isPrimary}}
			<li class="applicant-card-action">
				<button {{action "removeApplicant"}}>Remove {{applicant.fullName}}</button>
			</li>
		{{/unless}}
		{{#if isEditable}}
			<li>
				<button {{action "toggleEditing" applicant}}>
					{{#if isEditing}}
						Done
					{{else}}
						Edit
					{{/if}}
				</button>
			</li>
		{{/if}}
	</ul>
</header>

<article class="applicant-card-content">
	{{#liquid-if isEditing}}
		{{#form-section title="basic-information" icon="information"}}
			<div class = "row">
				{{#form-field title="First Name" class="column one-half" layoutDirection="vertical"}}
					{{expandable-input value=applicant.firstName placeholder="First Name" required=true autofocus="autofocus" title="Please provide the applicant's first name" autocomplete="given-name"}}
				{{/form-field}}
				{{#form-field title="Last Name" class="column one-half" layoutDirection="vertical"}}
					{{expandable-input value=applicant.lastName placeholder="Last Name" required=true title="Please provide the applicant's last name" autocomplete="family-name"}}
				{{/form-field}}
			</div>
			{{#form-section title="Contact Methods" icon="mail"}}
				<div class="row">
					{{#form-field title="Email" class="column" layoutDirection="vertical"}}
						{{expandable-input value=applicant.email required=true type="email" placeholder="Email" title="Please enter a valid e-mail"}}
					{{/form-field}}
					{{#form-field title="Phone" class="column" layoutDirection="vertical"}}
						{{input value=applicant.phone type="tel" required=true placeholder="Phone" title="Please provide the applicant's phone number"}}
					{{/form-field}}
					{{#form-field title="Birth Date" layoutDirection="vertical"}}
						{{input type="date" value=applicant.birthDate required=true title="Please provide the date of birth of the applicant" autocomplete="bdate" max=youngestApplicantAge}}
					{{/form-field}}
				</div>
			{{/form-section}}
			{{#form-field title="Marital Status"}}
				{{view "select" content=maritalStatusOptions value=applicant.maritalStatus prompt=" -- " required=true title="Please indicate the applicant's marital status (single, married, etc.)"}}
			{{/form-field}}
			{{#unless applicant.isPrimary}}
				{{#form-field title="Relationship"}}
					{{view "select" content=relationshipTypes value=applicant.relationship}}
				{{/form-field}}
			{{/unless}}
		{{/form-section}}
		{{#form-section title="Location" icon="pin"}}
			{{#unless applicant.isPrimary}}
				{{#if isLinked}}
					<button {{action "unlinkAddresses"}}>Unlink Addresses</button>
				{{else}}
					<button {{action "copyAddresses"}}>Same as primary applicant</button>
				{{/if}}
			{{/unless}}
			{{historical-addresses previousAddresses=applicant.previousAddresses currentAddress=applicant.currentAddress onAddAddress="addAddress"}}
		{{/form-section}}
		{{#if includeIncome}}
			{{#form-section title="Employment" icon="briefcase"}}
				{{employment-table employment=applicant.employment previousEmployment=applicant.previousEmployment currentEmployment=applicant.currentEmployment onAddEmployment="addEmployment" onRemoveEmployment="removeEmployment"}}
			{{/form-section}}
			{{#form-section title="Extra Income Sources" icon="coin"}}
				{{income-table income=applicant.income excluded=applicant.employmentIncome onAdd="addIncome" onRemove="removeIncome"}}
			{{/form-section}}
		{{/if}}
		{{#if includeAssets}}
			{{#form-section title="Assets" icon="user-plus"}}
				{{asset-table assets=applicant.assets onAdd="addAsset"}}
			{{/form-section}}
		{{/if}}
		{{#if includeLiabilities}}
			{{#form-section title="Liabilities" icon="user-minus"}}
				{{liability-table liabilities=applicant.liabilities onAdd="addLiability" properties=applicant.properties}}
			{{/form-section}}
		{{/if}}
	{{else}}
		<ul class="applicant-card-finances">
			{{#if applicant.totalIncome}}
				<li class="applicant-card-finances-total total-income">
					<span class="applicant-card-finances-icon">{{accessible-icon icon="coin-dollar"}}</span>
					<span class="applicant-card-finances-title">Income</span>
					<strong class="applicant-card-finances-value">{{format-number applicant.totalIncome style="currency" currency="CAD"}}</strong>
				</li>
			{{/if}}
			{{#if applicant.totalAssets}}
				<li class="applicant-card-finances-total total-assets">
					<span class="applicant-card-finances-icon">{{accessible-icon icon="plus"}}</span>
					<span class="applicant-card-finances-title">Assets</span>
					<strong class="applicant-card-finances-value">{{format-number applicant.totalAssets style="currency" currency="CAD"}}</strong>
				</li>
			{{/if}}
			{{#if applicant.totalLiabilities}}
				<li class="applicant-card-finances-total total-liabilities">
					<span class="applicant-card-finances-icon">{{accessible-icon icon="minus"}}</span>
					<span class="applicant-card-finances-title">Debts</span>
					<strong class="applicant-card-finances-value">{{format-number applicant.totalLiabilities style="currency" currency="CAD"}}</strong>
				</li>
			{{/if}}
		</ul>
		<dl class="applicant-card-details">
			{{#if applicant.email}}
				<dt>Email</dt>
				<dd>{{#email-address email=applicant.email}}{{applicant.email}}{{/email-address}}</dd>
			{{/if}}
			{{#if applicant.phone}}
				<dt>Phone</dt>
				<dd>{{phone-number number=applicant.phone}}</dd>
			{{/if}}
			{{#if applicant.birthDate}}
				<dt>Birth Date</dt>
				<dd>{{format-date applicant.birthDate day="numeric" month="long" year="numeric"}}</dd>
			{{/if}}
			{{#if applicant.currentAddress}}
				<dt>Current Address</dt>
				<dd>{{accessible-icon icon="pin"}} {{applicant.currentAddress.address}}</dd>
			{{/if}}
		</dl>
	{{/liquid-if}}

	{{yield}}
</article>
