<header class="applicant-card-header">
	{{#liquid-if applicant.hasName}}
		<h1 class="applicant-card-title">
			<span class="applicant-card-full-name">{{applicant.fullName}}</span>
			{{#if applicant.isPrimary}}
				<span class="applicant-card-role">Primary Applicant</span>
			{{/if}}
		</h1>
	{{/liquid-if}}
	{{#liquid-if applicant.hasValidEmail}}
		{{gravatar-image email=applicant.email alt=applicant.fullName size=250 defaultImage="identicon" class="applicant-card-image" secure=false title=applicant.fullName}}
	{{/liquid-if}}
	<ul class="applicant-card-actions">
		{{#unless applicant.isPrimary}}
			<li class="applicant-card-action">
				<button {{action "removeApplicant" applicant}}>Remove {{applicant.fullName}}</button>
			</li>
		{{/unless}}
		{{#if isEditable}}
			<li>
				<button {{action "toggleEditing" applicant}}>
					{{#if isEditing}}
						Done
					{{else}}
						Edit
					{{/if}}
				</button>
			</li>
		{{/if}}
	</ul>
</header>

<article class="applicant-card-content">
	{{#liquid-if isEditing}}
		{{#form-section title="basic-information" icon="information"}}
			<div class = "row">
				{{#form-field title="First Name" class="column one-half" layoutDirection="vertical"}}
					{{input value=applicant.firstName placeholder="First Name" required=true autofocus="autofocus" title="Please provide the applicant's first name"}}
				{{/form-field}}
				{{#form-field title="Last Name" class="column one-half" layoutDirection="vertical"}}
					{{input value=applicant.lastName placeholder="Last Name" required=true title="Please provide the applicant's last name"}}
				{{/form-field}}
			</div>
			{{#form-section title="Contact Methods" icon="mail"}}
				<div class="row">
					{{#form-field title="Email" class="column" layoutDirection="vertical"}}
						{{input value=applicant.email required=true type="email" placeholder="Email" title="Please enter a valid e-mail"}}
					{{/form-field}}
					{{#form-field title="Phone" class="column" layoutDirection="vertical"}}
						{{input value=applicant.phone type="tel" required=true placeholder="Phone" title="Please provide the applicant's phone number"}}
					{{/form-field}}
					{{#form-field title="Birth Date" layoutDirection="vertical"}}
						{{input type="date" value=applicant.birthDate required=true title="Please provide the date of birth of the applicant"}}
					{{/form-field}}
				</div>
			{{/form-section}}
			{{#form-field title="Marital Status"}}
				{{view "select" content=maritalStatusOptions optionValuePath="content.value" optionLabelPath="content.label" value=applicant.maritalStatus required=true}}
			{{/form-field}}
			{{#unless applicant.isPrimary}}
				{{#form-field title="Relationship"}}
					{{view "select" content=relationshipTypes value=applicant.relationship}}
				{{/form-field}}
			{{/unless}}
		{{/form-section}}
		{{#form-section title="Location" icon="pin"}}
			{{#unless applicant.isPrimary}}
				<button {{action "copyAddresses"}}>Same as primary applicant</button>
			{{/unless}}
			{{historical-addresses previousAddresses=applicant.previousAddresses currentAddress=applicant.currentAddress onAddAddress="addAddress"}}
		{{/form-section}}
		{{#if includeIncome}}
			{{#form-section title="Employment" icon="briefcase"}}
				<header class="table-header">
					<button {{action "addEmployment" applicant}} class="add-button">Add Employment</button>
				</header>
				{{#if previousEmploymentRequired}}
					<span class="error">Please provide the last <strong>{{minEmploymentHistory}}</strong> years of employment history.</span>
				{{/if}}
				{{#each historicalEmployment in applicant.employment}}
					{{historical-employment employment=historicalEmployment onRemove="removeEmployment"}}
				{{else}}
					No employment history for {{applicant.fullName}}.  <a {{action "addEmployment" applicant}}>Add Employment</a>
				{{/each}}
			{{/form-section}}
			{{#form-section title="Extra Income Sources" icon="coin"}}
				{{income-table income=applicant.income excluded=applicant.employmentIncome onAdd="addIncome" onRemove="removeIncome"}}
			{{/form-section}}
		{{/if}}
		{{#if includeAssets}}
			{{#form-section title="Assets" icon="user-plus"}}
				{{asset-table assets=applicant.assets onAdd="addAsset"}}
			{{/form-section}}
		{{/if}}
		{{#if includeLiabilities}}
			{{#form-section title="Liabilities" icon="user-minus"}}
				{{liability-table liabilities=applicant.liabilities onAdd="addLiability" properties=applicant.properties}}
			{{/form-section}}
		{{/if}}
	{{else}}
		<dl class="applicant-card-details">
			{{#if applicant.email}}
				<dt>Email</dt>
				<dd>{{#email-address email=applicant.email}}{{applicant.email}}{{/email-address}}</dd>
			{{/if}}
			{{#if applicant.phone}}
				<dt>Phone</dt>
				<dd>{{phone-number number=applicant.phone}}</dd>
			{{/if}}
			{{#if applicant.birthDate}}
				<dt>Birth Date</dt>
				<dd>{{format-date applicant.birthDate day="numeric" month="long" year="numeric"}}</dd>
			{{/if}}
		</dl>
	{{/liquid-if}}

	{{yield}}
</article>
