<header class="table-header">
	<button {{action "addAsset"}} class="add-button">Add {{typeName}}</button>
	{{#if caption}}
		<h5 class="caption">
			{{caption}}
			{{#if totalAssets}}
				<sup><strong>{{format-number totalAssets style="currency" currency="CAD"}}</strong> total</sup>
			{{/if}}
		</h5>
	{{/if}}
</header>

<ul class="assets">
	{{#each asset in filteredAssets}}
		<li class="asset">
			{{asset-instance asset=asset}}
			<button {{action "removeAsset" asset}} class="remove-button">Remove {{typeName}}</button>
		</li>
	{{else}}
		<li>
			No assets found.  <a {{action "addAsset"}}>Add One?</a>
		</li>
	{{/each}}
</ul>

{{yield}}
