<header class="table-header">
	<button {{action "addAsset"}} class="add-button">Add {{typeName}}</button>
	{{#if caption}}
		<h5 class="caption">
			{{caption}}
			{{#liquid-if totalAssets}}
				<sup><strong>{{format-number totalAssets style="currency" currency="CAD"}}</strong> total</sup>
			{{/liquid-if}}
		</h5>
	{{/if}}
</header>

<ul class="assets">
	{{#each filteredAssets as |asset|}}
		<li class="asset">
			{{asset-instance asset=asset isEditable=isEditable onRemove="removeAsset" showApplicant=showApplicant}}
		</li>
	{{else}}
		<li>
			No assets found.  <a {{action "addAsset"}}>Add One?</a>
		</li>
	{{/each}}
</ul>

{{#liquid-if totalAssets}}
	<footer class="table-total">
		<sup><strong>{{format-number totalAssets style="currency" currency="CAD"}}</strong> total</sup>
	</footer>
{{/liquid-if}}

{{yield}}
