<header class="asset-table-header">
	<button {{action "addAsset"}}>Add Asset</button>
	{{#liquid-if caption}}
		<h5 class="caption">
			{{caption}}
			{{#liquid-if totalAssets}}
				<sup><strong>${{totalAssets}}</strong> total</sup>
			{{/liquid-if}}
		</h5>
	{{/liquid-if}}
</header>

<ul class="assets">
	{{#each asset in filteredAssets}}
		<li class="asset">
			{{asset-instance asset=asset}}
			<button {{action "removeAsset" asset}}>Remove Asset</button>
		</li>
	{{else}}
		<li>
			No assets found.  <button {{action "addAsset"}}>Add One?</button>
		</li>
	{{/each}}
</ul>

{{yield}}
