{{#liquid-if isEditing}}
	{{partial "partials/toggle-edit-button"}}
	{{#unless asset.type}}
		{{#form-field title="Type"}}
			{{view "select" content=assetTypes optionValuePath="content.value" optionLabelPath="content.label" value=asset.type required=true}}
		{{/form-field}}
		{{#form-field title="Asset Value"}}
			{{currency-input value=asset.value placeholder="Asset Value" min="0" step="100"}}
		{{/form-field}}
	{{/unless}}

	{{#if asset.isPersonalItem}}
		{{#form-field title="Item Description"}}
			{{input type="text" value=asset.description placeholder="Item Description"}}
		{{/form-field}}
		{{#form-field title="Item Value"}}
			{{currency-input value=asset.value placeholder="Item Value" min="0" step="100"}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isProperty}}
		<dl>
			<dt>Type</dt>
			<dd>Property</dd>
		</dl>
		{{#form-field title="Estimated Propery Value"}}
			{{currency-input value=asset.value placeholder="Estimated Property Value" min="0" step="10000"}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isSavings}}
		{{#form-field title="Account Type"}}
			{{view "select" content=savingsTypes optionValuePath="content.value" optionLabelPath="content.label" value=asset.description}}
		{{/form-field}}
		{{#form-field title="Account Balance"}}
			{{currency-input value=asset.value placeholder="Balance" min="0" step="100"}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isInvestment}}
		{{#form-field title="Asset/Bond Investment Value"}}
			{{currency-input value=asset.value placeholder="Amount Invested" min="0" step="100"}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isGIC}}
		{{#form-field title="GIC Account Balance"}}
			{{currency-input value=asset.value placeholder="Balance" min="0" step="100"}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isRRSP}}
		{{#form-field title="RRSP Account Balance"}}
			{{currency-input value=asset.value placeholder="Balance" min="0" step="100"}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isVehicle}}
		{{#form-field title="Estimated Vehicle Value"}}
			{{currency-input value=asset.value placeholder="Balance" min="0" step="100"}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isOther}}
		{{#form-field title="Description"}}
			{{input type="text" value=asset.description placeholder="Asset Description" required=true}}
		{{/form-field}}
		{{#form-field title="Asset Value"}}
			{{currency-input value=asset.value placeholder="Asset Value" min="0" step="100"}}
		{{/form-field}}
	{{/if}}
{{else}}
	<div class="row">
		<div class="column">
			<div class="row">
				<a {{action "toggleEditing"}} class="editable-link">
					<span class="asset-type">
						{{#if asset.description}}
							<em class="asset-description">{{income.description}}</em>
						{{else}}
							<em class="asset-type-type">
								{{#if asset.type}}
									{{asset.type}}
								{{else}}
									Other Asset
								{{/if}}
							</em>
						{{/if}}
					</span>
				</a>
				{{#if onRemove}}
					<div class="column actions">
						<button {{bind-attr class="isEditing:remove-button:button-plain-warning"}} {{action "remove"}}>
							{{#liquid-if isEditing}}
								Remove {{#if asset.type}}
								{{asset.type}}
							{{else}}
								Asset
							{{/if}}
							{{else}}
								{{accessible-icon icon="cross" title="Remove Extra Income"}}
							{{/liquid-if}}
						</button>
					</div>
				{{/if}}
			</div>
		</div>
		{{#if asset.applicant}}
			<div class="column">
				<span class="asset-applicant">{{asset.applicant.fullName}}</span>
			</div>
		{{/if}}
		<div class="column table-subtotal">
			<span class="asset-value">{{format-number asset.value style="currency" currency="CAD"}}</span>
		</div>
	</div>
{{/liquid-if}}


{{yield}}
