{{#liquid-if isEditing}}
  {{#unless asset.assetType}}
    {{#form-field label="Type"}}
      {{select-list
        action=(action (mut asset.assetType))
        content=assetTypes
        optionValuePath="selectValue"
        optionLabelPath="selectLabel"
        required=true
        title="Please choose a type for this asset"
        value=asset.assetType}}
    {{/form-field}}
    {{#form-field label="Asset Value"}}
      {{currency-input
        min="0"
        required=true
        step="any"
        title="Please indicate the value of this asset"
        value=asset.value}}
    {{/form-field}}
  {{/unless}}

  {{#if asset.isPersonalItem}}
    {{#form-field label="Item Description"}}
      {{input
        placeholder="Item Description"
        title="Optionally include a description of this item"
        type="text"
        value=asset.description}}
    {{/form-field}}
  {{/if}}

  {{#if asset.isProperty}}
    <dl>
      <dt>Type</dt>
      <dd>Property</dd>
    </dl>
  {{/if}}

  {{#if asset.isSavings}}
    {{#form-field label="Account Type"}}
      {{select-list
        action=(action (mut asset.description))
        content=savingsTypes
        optionValuePath="selectValue"
        optionLabelPath="selectLabel"
        value=asset.description
        required=true
        title="Please indicate an account type fot this savings account"}}
    {{/form-field}}
  {{/if}}

  {{#if asset.isOther}}
    {{#form-field label="Description"}}
      {{input
        placeholder="Asset Description"
        required=true
        type="text"
        value=asset.description}}
    {{/form-field}}
  {{/if}}

  {{#form-field label=assetInfo.currencyLabel}}
    {{currency-input
      min="0"
      required=true
      step="any"
      title=assetInfo.currencyTitle
      value=asset.value}}

    {{#if showAmount}}
      {{#liquid-if asset.value}}
        <span class="help">
          <strong>
            {{format-number
              asset.value
              currency="CAD"
              style="currency"}}
          </strong>
          {{#if hasBank}}
            invested
          {{else if asset.isVehicle}}
            in approximate value
          {{else}}
            in value
          {{/if}}

        </span>
      {{/liquid-if}}

      {{#form-field label="Institution Name"}}
        {{autocomplete-input
          datalist="banks"
          placeholder="Bank Name"
          required=true
          title="Please indicate the institution name for this account"
          value=asset.bank}}
      {{/form-field}}
    {{/if}}
  {{/form-field}}


  {{#if onRemove}}
    <button class="remove-button" {{action "remove"}}>
      Remove
      {{#if asset.assetType}}
        {{asset.assetType}}
      {{else}}
        Asset
      {{/if}}
    </button>
  {{/if}}
{{else}}
  <div class="row">
    <div class="column">
      <div class="row">
        <a {{action "toggleEditing"}} class="editable-link">
					<span class="asset-type">
            {{#if asset.description}}
              <em class="asset-description">{{asset.description}}</em>
            {{else}}
              <em class="asset-type-type">
                {{#if asset.assetType}}
                  {{asset.assetType}}
                {{else}}
                  Other Asset
                {{/if}}
              </em>
            {{/if}}
          </span>
        </a>
        {{#if onRemove}}
          <div class="column actions">
            <button class="{{if isEditing "remove-button" "button-plain-warning"}}" {{action "remove"}}>
              {{#liquid-if isEditing}}
                Remove {{#if asset.assetType}}
                {{asset.assetType}}
              {{else}}
                Asset
              {{/if}}
              {{else}}
                {{accessible-icon icon="cross" title="Remove Asset"}}
              {{/liquid-if}}
            </button>
          </div>
        {{/if}}
      </div>
    </div>
    {{#liquid-if showApplicant}}
      {{#if asset.applicant}}
        <div class="column asset-applicant-container">
          <span class="asset-applicant">{{asset.applicant.fullName}}</span>
        </div>
      {{/if}}
    {{/liquid-if}}
    <div class="column table-subtotal">
      <span class="asset-value">{{format-number asset.value style="currency" currency="CAD"}}</span>
    </div>
  </div>
{{/liquid-if}}
