{{#liquid-if isEditing}}
	{{partial "partials/toggle-edit-button"}}
	{{#unless asset.type}}
		{{#form-field label="Type"}}
			{{select-list content=assetTypes optionValuePath="value" optionLabelPath="label" value=asset.type required=true title="Please choose a type for this asset" action=(action (mut asset.type))}}
		{{/form-field}}
		{{#form-field label="Asset Value"}}
			{{currency-input value=asset.value placeholder="Asset Value" min="0" step="any" required=true title="Please indicate the value of this asset"}}
		{{/form-field}}
	{{/unless}}

	{{#if asset.isPersonalItem}}
		{{#form-field label="Item Description"}}
			{{input type="text" value=asset.description placeholder="Item Description" title="Optionally include a description of this item"}}
		{{/form-field}}
		{{#form-field label="Item Value"}}
			{{currency-input value=asset.value placeholder="Item Value" min="0" step="any" required=true title="Please indicate the value of this personal item"}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isProperty}}
		<dl>
			<dt>Type</dt>
			<dd>Property</dd>
		</dl>
		{{#form-field label="Estimated Propery Value"}}
			{{currency-input value=asset.value placeholder="Estimated Property Value" required=true min="0" step="any" title="Please indicate the estimated property value"}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isSavings}}
		{{#form-field label="Account Type"}}
			{{select-list content=savingsTypes optionValuePath="value" optionLabelPath="label" value=asset.description title="Please indicate an account type fot this savings account" required=true action=(action (mut asset.description))}}
		{{/form-field}}
		{{#form-field label="Account Balance"}}
			{{currency-input value=asset.value placeholder="Balance" min="0" step="any" title="Please indicate the banking institution of this account" required=true}}
			{{#liquid-if asset.value}}
				<span class="help"><strong>{{format-number asset.value style="currency" currency="CAD"}}</strong> invested</span>
			{{/liquid-if}}
		{{/form-field}}
	{{/if}}

	{{#if hasBank}}
		{{#form-field label="Institution Name"}}
			{{autocomplete-input value=asset.bank placeholder="Bank Name" required=true datalist="banks" title="Please indicate the institution name for this account"}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isInvestment}}
		{{#form-field label="Asset/Bond Investment Value"}}
			{{currency-input value=asset.value placeholder="Amount Invested" min="0" step="any" required=true title="Please indicate the amount you invested"}}
			{{#liquid-if asset.value}}
				<span class="help"><strong>{{format-number asset.value style="currency" currency="CAD"}}</strong> invested</span>
			{{/liquid-if}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isGIC}}
		{{#form-field label="GIC Account Balance"}}
			{{currency-input value=asset.value placeholder="Balance" min="0" step="any" required=true title="Please indicate the amount you have invested this GIC account"}}
			{{#liquid-if asset.value}}
				<span class="help"><strong>{{format-number asset.value style="currency" currency="CAD"}}</strong> invested</span>
			{{/liquid-if}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isRRSP}}
		{{#form-field label="RRSP Account Balance"}}
			{{currency-input value=asset.value placeholder="Balance" min="0" step="any" required=true title="Please indicate the amount you have invested this RRSP account"}}
			{{#liquid-if asset.value}}
				<span class="help"><strong>{{format-number asset.value style="currency" currency="CAD"}}</strong> invested</span>
			{{/liquid-if}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isVehicle}}
		{{#form-field label="Estimated Vehicle Value"}}
			{{currency-input value=asset.value placeholder="Balance" min="0" step="any" required=true title="Please provide an estimation of your vehicle's value"}}
			{{#liquid-if asset.value}}
				<span class="help"><strong>{{format-number asset.value style="currency" currency="CAD"}}</strong> in approximate value</span>
			{{/liquid-if}}
		{{/form-field}}
	{{/if}}

	{{#if asset.isOther}}
		{{#form-field label="Description"}}
			{{input type="text" value=asset.description placeholder="Asset Description" required=true}}
		{{/form-field}}
		{{#form-field label="Asset Value"}}
			{{currency-input value=asset.value placeholder="Asset Value" min="0" step="any"}}
			{{#liquid-if asset.value}}
				<span class="help"><strong>{{format-number asset.value style="currency" currency="CAD"}}</strong> in value</span>
			{{/liquid-if}}
		{{/form-field}}
	{{/if}}
	{{#if onRemove}}
		<button class="remove-button" {{action "remove"}}>
				Remove
			{{#if asset.type}}
				{{asset.type}}
			{{else}}
				Asset
			{{/if}}
		</button>
	{{/if}}
{{else}}
	<div class="row">
		<div class="column">
			<div class="row">
				<a {{action "toggleEditing"}} class="editable-link">
					<span class="asset-type">
						{{#if asset.description}}
							<em class="asset-description">{{asset.description}}</em>
						{{else}}
							<em class="asset-type-type">
								{{#if asset.type}}
									{{asset.type}}
								{{else}}
									Other Asset
								{{/if}}
							</em>
						{{/if}}
					</span>
				</a>
				{{#if onRemove}}
					<div class="column actions">
						<button {{bind-attr class="isEditing:remove-button:button-plain-warning"}} {{action "remove"}}>
							{{#liquid-if isEditing}}
								Remove {{#if asset.type}}
								{{asset.type}}
							{{else}}
								Asset
							{{/if}}
							{{else}}
								{{accessible-icon icon="cross" title="Remove Asset"}}
							{{/liquid-if}}
						</button>
					</div>
				{{/if}}
			</div>
		</div>
		{{#liquid-if showApplicant}}
			{{#if asset.applicant}}
				<div class="column asset-applicant-container">
					<span class="asset-applicant">{{asset.applicant.fullName}}</span>
				</div>
			{{/if}}
		{{/liquid-if}}
		<div class="column table-subtotal">
			<span class="asset-value">{{format-number asset.value style="currency" currency="CAD"}}</span>
		</div>
	</div>
{{/liquid-if}}


{{yield}}
