{{#form-field label="Employment Type"}}
  {{select-list
    change="changeType"
    content=employmentTypes
    optionValuePath="value"
    optionLabelPath="label"
    title="Please choose the type of employment"}}
{{/form-field}}

{{#liquid-if showPosition}}
  {{#form-field label="Position"}}
    {{input
      placeholder="Job Title"
      required=true
      title="Please indicate the job title for this employment record"
      type="text"
      value=employment.occupation}}
  {{/form-field}}
  {{#form-field label="Employer/Business"}}
    {{input
      placeholder="Name"
      required=true
      title="Please provide the employer for this position"
      type="text"
      value=employment.employer
      }}
  {{/form-field}}
  {{#form-field label="Address"}}
    {{address-input
      address=employoment.address
      change="changeAddress"
      value=employment.address
      placeholder="Address"
      required=true}}
  {{/form-field}}
  {{#liquid-if showBusinessType}}
    {{#form-field label="Business Type"}}
      {{select-list
        change="changeBusinessType"
        content=businessTypes
        optionValuePath="value"
        optionLabelPath="label"
        required=true
        title="Please indicate the legal classification of your business"}}
    {{/form-field}}
  {{/liquid-if}}
  {{#liquid-unless showBusinessType}}
    {{#form-field label="Phone Number"}}
      {{input-mask
        mask="999-999-9999"
        placeholder="Phone Number"
        required=true
        title="Please indicate this employer's primary phone number"
        value=employment.phone}}
    {{/form-field}}
  {{/liquid-unless}}
{{/liquid-if}}

{{#form-field label="How long?"}}
  <label>
    {{input
      max="100"
      min="0"
      placeholder="Years"
      required=true
      step="1"
      title="Please indicate how many years you have owned this company"
      type="number"
      value=employment.tenure_year}} years</label>
  <label>{{input
    max="12"
    min="0"
    placeholder="mths"
    step="1"
    type="number"
    value=employment.tenure_month}}
    months</label>
{{/form-field}}

{{#liquid-if showCompensation}}
  {{#form-field label="Compensation"}}
    {{select-list
      change="changePaymentFrequency"
      content=paymentFrequencies
      optionValuePath="value"
      optionLabelPath="label"
      title="Please select the payment frequency for this position"}}
  {{/form-field}}
  {{#if isHourly}}
    {{#form-field label="Hours Per Week"}}
      {{input
        type="range"
        max=60
        min=0
        required=true
        step=0.5
        title="Please indicate how many hours per week were worked in this position"
        value=employmentProxy.weeklyHours}}
      {{#if employment.weeklyHours}}
        <span>worked <strong>{{employment.weeklyHours}}</strong> hours per week</span>
      {{/if}}
    {{/form-field}}
    {{#form-field label="Hourly Rate"}}
      {{currency-input min=0 step="any" value=employmentProxy.hourlyRate required=true}}
      {{#if employment.hourlyRate}}
        <span class="help">
          <strong>
            {{format-number employment.hourlyRate style="currency" currency="CAD"}}
          </strong> dollars per hour
        </span>
      {{/if}}
    {{/form-field}}
  {{/if}}
{{/liquid-if}}


{{#liquid-if showAnnualPay}}
  {{#form-field label="Annual Pay"}}
    {{currency-input min="0" step="any" value=employment.annual_pay required=true}}
  {{/form-field}}
{{/liquid-if}}

{{#liquid-if showCompensation}}
  {{#form-field label="I currently work here"}}
    {{on-off-switch checked=employment.is_current title="Is the job current?"}}
  {{/form-field}}
{{/liquid-if}}

{{#liquid-if showLine150}}
  {{#form-section title="Last 2 Years' Line 150" icon="dollar"}}
    {{#each noaValues as |year|}}
      {{#form-field label=year.year}}
        {{currency-input
          min="0"
          placeholder="0"
          required=true
          step="any"
          title="Please indicate the filed income for this yearly assesment"
          value=year.value}}
      {{/form-field}}
    {{/each}}
  {{/form-section}}
  <span class="option-separator">or</span>
  {{#form-field label="Approximate annual, taxable income"}}
    {{currency-input
      min="0"
      required=true
      step="any"
      value=employment.income_value}}
  {{/form-field}}
{{/liquid-if}}
{{yield}}

{{#if removable}}
  <button title="Remove this employment" {{action "remove"}} class="remove-button">Remove</button>
{{/if}}
