{{#form-section title="Current Employment"}}
	{{#each currentEmployment key="@guid" as |currentEmploymentInstance|}}
		{{historical-employment employment=currentEmploymentInstance onRemove=false}}
	{{else}}
		<span class="input-error">No current employment found.  Please ensure you have a minimum of <strong>{{minHistory}}</strong> years of employment history</span>
	{{/each}}
{{/form-section}}

{{#if previousEmployment.length}}
	{{#form-section title="Previous Employment"}}
		{{#if previousEmploymentRequired}}
			<span class="input-error">Please provide the last <strong>{{minHistory}}</strong> years of employment history
			.</span>
			<span>Total employment history: <strong>{{totalEmploymentTimespan}} years</strong></span>
		{{/if}}
		{{#each previousEmployment key="@guid" as |historicalEmployment|}}
			{{historical-employment employment=historicalEmployment onRemove="removeEmployment"}}
		{{else}}
			No previous employment provided.  <a {{action "addEmployment"}}>Add previous employment</a>
		{{/each}}
	{{/form-section}}
{{/if}}

<button {{action "addEmployment"}}>Add Previous Employment</button>
{{yield}}
