{{#unless notWorking}}
	{{#form-field label="Position"}}
		{{input type="text" value=employmentProxy.occupation placeholder="Job Title" required=true title="Please indicate the job title for this employment record" size=employment.occupation.length}}
	{{/form-field}}

	{{#liquid-unless employment.isSelfEmployed}}
		{{#form-field label="Employer"}}
			{{input type="text" value=employment.employer.name title="Please provide the employer for this position" required=true placeholder="Employer Name" size=employment.employer.name.length}}
		{{/form-field}}
	{{/liquid-unless}}
{{/unless}}

{{#if studentNotAllowed}}
	{{#form-field label="Employment Type"}}
		{{select-list content=employmentTypes optionValuePath="value" optionLabelPath="label" value=employmentProxy.type title="Please choose the type of employment" action=(action (mut employmentProxy.type))}}
	{{/form-field}}
{{else}}
	{{#form-field label="Employment Type"}}
		{{select-list content=coApplicantEmploymentTypes optionValuePath="value" optionLabelPath="label" value=employmentProxy.type title="Please choose the type of employment" action=(action (mut employmentProxy.type))}}
	{{/form-field}}
{{/if}}



{{#liquid-if employment.isSelfEmployed}}
	{{#form-field label="How long?"}}
		<label>{{input type="number" value=employmentProxy.tenureYears required=true placeholder="Years" min="0" max="100" step="1" title="Please indicate how many years you have owned this company"}} years</label>
		<label>{{input type="number" value=employmentProxy.tenureMonths placeholder="mths" min="0" max="12" step="1"}} months</label>
	{{/form-field}}
	{{#form-field label="Business Name"}}
		{{input type="text" value=employmentProxy.employer.name placeholder="Business Name" required=true}}
	{{/form-field}}
	{{#form-field label="Business Address"}}
		{{address-input address=employoment.employer.address value=employment.employer.address.address placeholder="Business Address" required=true}}
	{{/form-field}}
	{{#form-field label="Business Type"}}
		{{select-list content=businessTypes optionValuePath="value" optionLabelPath="label" value=employment.employer.type required=true title="Please indicate the legal classification of your business" action=(action (mut employment.employer.type))}}
	{{/form-field}}
	{{#form-field label="Are income taxes paid up to date?"}}
		{{on-off-switch checked=incomeTaxesPaid title="Please indicate whether you have paid the most recent year of income taxes"}}
	{{/form-field}}
{{else}}
	{{#form-field label="How Long?"}}
		<label>{{input type="number" value=employmentProxy.tenureYears required=true placeholder="Years" min="0" max="100" step="1" title="Please indicate the amount of years this position was held"}} years</label>
		<label>{{input type="number" value=employmentProxy.tenureMonths placeholder="mths" min="0" max="12" step="1"}} months</label>
		{{#liquid-if employment.tenureTotalYears}}
			<span class="help">position was held for {{employment.tenureTotalYears}} years</span>
		{{/liquid-if}}
	{{/form-field}}
	{{#liquid-unless notWorking}}
		{{#form-field label="Employer Address"}}
			{{address-input address=employoment.employer.address value=employment.employer.address.address placeholder="Employer's Address" required=true}}
		{{/form-field}}
		{{#form-field label="Employer Phone Number"}}
			{{input type="tel" value=employment.employer.phone placeholder="Employer's Phone" required=true title="Please indicate this employer's primary phone number"}}
		{{/form-field}}
		{{#liquid-if employment.isHourly}}
			{{#form-field label="Hours Per Week"}}
				{{input type="range" min=0 step=0.5 max=60 value=employmentProxy.weeklyHours required=true title="Please indicate how many hours per week were worked in this position"}}
				{{#liquid-if employment.weeklyHours}}
					<span>worked <strong>{{employment.weeklyHours}}</strong> hours per week</span>
				{{/liquid-if}}
			{{/form-field}}
			{{#form-field label="Hourly Rate"}}
				{{currency-input min=0 step="any" value=employmentProxy.hourlyRate required=true}}
				{{#liquid-if employment.hourlyRate}}
					<span class="help"><strong>{{format-number employment.hourlyRate style="currency" currency="CAD"}}</strong> dollars per hour</span>
				{{/liquid-if}}
			{{/form-field}}
		{{/liquid-if}}
		{{#form-field label="Compensation"}}
			{{select-list content=paymentFrequencies optionValuePath="value" optionLabelPath="label" value=employmentProxy.paymentFrequency title="Please select the payment frequency for this position" action=(action (mut employmentProxy.paymentFrequency))}}
		{{/form-field}}
	{{/liquid-unless}}
	{{#liquid-unless notPaid}}
		{{#form-field label="Annual Pay"}}
			{{#liquid-if employment.isCommission}}
				<span class="form-field-hint">Please give us the closest guess to your annual pay.</span>
			{{/liquid-if}}
			{{currency-input min="0" step="any" value=employment.income.value required=true}}
			{{#liquid-if employment.income.value}}
				<span class="help"><strong>{{format-number employment.income.value style="currency" currency="CAD"}}</strong> annually</span>
			{{/liquid-if}}
		{{/form-field}}
	{{/liquid-unless}}
	{{#liquid-unless notWorking}}
		{{#form-field label="I currently work here"}}
			{{on-off-switch checked=employmentProxy.isCurrent title="Is the job current?"}}
		{{/form-field}}
	{{/liquid-unless}}
{{/liquid-if}}

{{#liquid-if needsNOA}}
	{{#liquid-unless hasIncome}}
		{{#form-section title="Last 2 Years' Line 150" icon="dollar"}}
			{{#each noaValues as |year|}}
				{{#form-field label=year.year}}
					{{currency-input min="0" step="any" value=year.value required=true placeholder="0" title="Please indicate the filed income for this yearly assesment"}}
				{{/form-field}}
			{{/each}}
		{{/form-section}}
		<span class="option-separator">or</span>
	{{/liquid-unless}}
	{{#form-field label="Approximate annual, taxable income"}}
		{{currency-input min="0" step="any" value=employment.income.value required=true}}
	{{/form-field}}
{{/liquid-if}}

{{yield}}
{{#if onRemove}}
	<button title="Remove this employment" {{action "remove"}} class="remove-button">Remove</button>
{{/if}}
