{{#form-field label=label}}
    {{#if currentAddress.is_current}}
        {{address-input value=currentAddress.address placeholder="Please indicate where you are currently living" title="Please indicate where you are currently living" required=required change="changeSource"}}
    {{else}}
        {{address-input value=currentAddress.address placeholder="Please provide an address" title="Please provide an address" required=required change="changeAddress"}}
    {{/if}}
    {{#liquid-if currentAddress.address}}
        <div class="address-details-container">
            <header class="address-header">
                {{accessible-icon icon="pushpin" title=currentAddress.address}}
            </header>
            <ul class="address-details">
                <li class="address-city">{{currentAddress.city}}</li>
                <li class="address-postal-code">{{currentAddress.postal_code}}</li>
                <li class="address-province">{{currentAddress.province}}</li>
                <li class="address-country">{{currentAddress.country}}</li>
            </ul>
            {{#liquid-if currentAddress.url}}
                <a href="{{currentAddress.url}}" title="View {{currentAddress.address}} on Google Maps" target="{{currentAddress.address}}">
                    {{accessible-icon icon="share" title="View this location on Google Maps"}}
                </a>
            {{/liquid-if}}
        </div>
    {{/liquid-if}}
{{/form-field}}
{{#form-field label="How Long?"}}
    {{input type="number" value=currentAddress.tenure_year placeholder="Years" min="0" step="1" required=true title="Please indicate the amount of time in which this address was resided"}}
    <label for = "tenure-years">years</label>
    {{input type="number" value=currentAddress.tenure_month placeholder="mths" min="0" max="12" step="1"}}
    <label for = "tenure-months">months</label>
    {{#liquid-if currentAddress.tenure_year}}
        <span class="help">Lived here for {{currentAddress.tenure_year}} year(s)</span>
    {{/liquid-if}}
{{/form-field}}
{{yield}}
