{{#form-field title="Position"}}
	{{input type="text" value=employment.occupation placeholder="Job Title" required=true title="Please indicate the job title for this employment record" size=employment.occupation.length}}
{{/form-field}}

{{#liquid-unless employment.isSelfEmployed}}
	{{#form-field title="Employer"}}
		{{input type="text" value=employment.employer.name title="Please provide the employer for this position" required=true placeholder="Employer/Company Name" size=employment.employer.name.length}}
	{{/form-field}}
{{/liquid-unless}}

{{#form-field title="I currently work here"}}
	{{on-off-switch checked=employment.isCurrent title="Is the job current?"}}
{{/form-field}}
{{#form-field title="Type"}}
	{{view "select" content=employmentTypes optionValuePath="content.value" optionLabelPath="content.label" value=employment.type title="Please choose the type of employment"}}
{{/form-field}}

{{#liquid-if employment.isSelfEmployed}}
	{{#form-field title="Business Name"}}
		{{input type="text" value=employment.employer.name placeholder="Business Name" required=true}}
	{{/form-field}}
	{{#form-field title="Business Address"}}
		{{address-input address=employoment.employer.address value=employment.employer.address.address placeholder="Business Address" required=true}}
	{{/form-field}}
	{{#form-field title="Business Type"}}
		{{view "select" content=businessTypes optionValuePath="content.value" optionLabelPath="content.label" value=employment.employer.type required=true title="Please indicate the legal classification of your business"}}
	{{/form-field}}
	{{#form-field title="Are income taxes paid up to date?"}}
		{{input type="checkbox" checked=incomeTaxesPaid title="Please indicate whether you have paid the most recent year of income taxes"}}
	{{/form-field}}
	{{#form-field title="How long?"}}
		<label>{{input type="number" value=employment.tenureYears required=true placeholder="Years" min="0" step="1" title="Please indicate how many years you have owned this company"}} years</label>
		<label>{{input type="number" value=employment.tenureMonths placeholder="mths" min="0" max="12" step="1"}} months
		</label>
	{{/form-field}}
{{else}}
	{{#form-field title="Payment Frequency"}}
		{{view "select" content=paymentFrequencies optionValuePath="content.value" optionLabelPath="content.label" value=employment.paymentFrequency title="Please select the payment frequency for this position"}}
	{{/form-field}}
	{{#form-field title="Employer Address"}}
		{{address-input address=employoment.employer.address value=employment.employer.address.address placeholder="Employer's Address" required=true}}
	{{/form-field}}
	{{#form-field title="Employer Phone Number"}}
		{{input type="tel" value=employment.employer.phone placeholder="Employer's Phone" required=true title="Please indicate this employer's primary phone number"}}
	{{/form-field}}

	{{#form-field title="Position Duration"}}
		{{#liquid-if durationEnabled}}
			{{input type="date" value=employment.startDate required=true}}
			<span>to</span>
			{{input type="date" value=employment.endDate required=true}}
		{{else}}
			{{input type="number" value=employment.tenureYears required=true placeholder="Years" min="0" step="1" title="Please indicate the amount of years this position was held"}}
			<label for = "tenure-years">years</label>
			{{input type="number" value=employment.tenureMonths placeholder="mths" min="0" max="12" step="1"}}
			<label for = "tenure-months">months</label>
		{{/liquid-if}}
		{{#liquid-if employment.tenureTotalYears}}
			<span class="help">position was held for {{employment.tenureTotalYears}} years</span>
		{{/liquid-if}}
	{{/form-field}}

	{{#liquid-if employment.isHourly}}
		{{#form-field title="Hours Per Week"}}
			{{input type="range" min=0 step=0.5 max=60 value=employment.weeklyHours required=true title="Please indicate how many hours per week were worked in this position"}}
			{{#liquid-if employment.weeklyHours}}
				<span>worked <strong>{{employment.weeklyHours}}</strong> hours per week</span>
			{{/liquid-if}}
		{{/form-field}}
		{{#form-field title="Hourly Rate"}}
			{{currency-input min=0 step="any" value=employment.hourlyRate required=true}}
			{{#liquid-if employment.hourlyRate}}
				<span class="help"><strong>{{format-number employment.hourlyRate style="currency" currency="CAD"}}</strong> dollars per hour</span>
			{{/liquid-if}}
		{{/form-field}}
	{{/liquid-if}}

	{{#form-field title="Annual Pay"}}
		{{#liquid-if employment.isCommission}}
			<span class="form-field-hint">Please give us the closest guess to your annual pay.</span>
		{{/liquid-if}}
		{{currency-input min="0" step="any" value=employment.income.value required=true}}
		{{#liquid-if employment.income.value}}
			<span class="help"><strong>{{format-number employment.income.value style="currency" currency="CAD"}}</strong> annually</span>
		{{/liquid-if}}
	{{/form-field}}

{{/liquid-if}}

{{#liquid-if needsNOA}}
	<div class="row distributed">
		{{#form-section title="Last 2 Years' Line 150" icon="dollar"}}
			{{#each noaValues key="@guid" as |year|}}
				{{#form-field title=year.year}}
					{{currency-input min="0" step="any" value=year.value required=true placeholder="Yearly Income" title="Please indicate the filed income for this yearly assesment"}}
				{{/form-field}}
			{{/each}}
		{{/form-section}}
		<span class="option-separator">or</span>
		{{#form-field title="Approximate annual, taxable income"}}
			{{currency-input min="0" step="any" value=employment.income.value required=true}}
		{{/form-field}}
	</div>
{{/liquid-if}}

{{yield}}
{{#if onRemove}}
	<button title="Remove this employment" {{action "remove"}} class="remove-button">Remove</button>
{{/if}}
