{{historical-address address=currentAddress required=true}}
{{#liquid-unless currentAddressLongEnough}}
	{{#form-section title="Previous Addresses"}}
		{{#liquid-if previousAddressesRequired}}
			<span class="input-error">Please provide up to 3 years of address information.</span>
		{{/liquid-if}}
		<ul class="previous-addresses">
			{{#each previousAddresses as |address|}}
				<li class="address edit">
					{{historical-address address=address required=true}}
					<button {{action "removeAddress" address}} class="remove-button">Remove</button>
				</li>
			{{else}}
				<li>No previous addresses found.  <a {{action "addAddress"}}>Add Previous Address</a></li>
			{{/each}}
		</ul>
		<footer class="address-history-total">
			<p>Total address history: <span class="{{if previousAddressesRequired "error" "success"}}">{{previousAddressTimespan}} years</span></p>
		</footer>
		<button {{action "addAddress"}} class="add-button">Add Previous Address</button>
	{{/form-section}}
{{/liquid-unless}}


{{yield}}
