{{historical-address address=currentAddress}}
{{#liquid-if previousAddressesRequired}}
	<button {{action "addAddress"}} class="add-button">Add Previous Address</button>
	{{#form-section title="Previous Addresses"}}
		<span class="input-error">Please provide up to 3 years of address information.</span>
		<ul class="previous-addresses">
			{{#each address in previousAddresses}}
				<li class="address edit">
					{{historical-address address=address}}
					<button {{action "removeAddress" address}} class="remove-button">Remove</button>
				</li>
			{{else}}
				<li>No previous addresses found.  <button {{action "addAddress"}} class="add-button">Add Previous Address</button></li>
			{{/each}}
		</ul>
		<footer class="address-history-total">
			<p>Total address history: <span {{bind-attr class="additionalPreviousAddressesRequired:error:success"}}>{{previousAddressTimespan}} years</span></p>
		</footer>
	{{/form-section}}
{{/liquid-if}}
{{yield}}
