{{#liquid-if isEditing}}
	{{partial "partials/toggle-edit-button"}}
	{{#form-field title="Source"}}
		{{view "select" content=incomeSources value=income.source}}
	{{/form-field}}

	{{#if isPension}}
		{{#form-field title="Pension Source"}}
			{{view "select" content=pensionTypes value=pensionType}}
		{{/form-field}}
	{{/if}}

	{{#if income.isOther}}
		{{#form-field title="Description"}}
			{{input type="text" required=true placeholder="Describe this income source" value=income.description size=income.description.length title="Please indicate the nature of this income source"}}
		{{/form-field}}
	{{/if}}

	<div class="row">
		{{#form-field title="Income" class="column"}}
			{{currency-input value=income.value}}
			{{#if income.value}}
				or
				{{#if income.isYearly}}
					<strong>{{format-number income.monthlyValue style="currency" currency="CAD"}}</strong> per month
				{{else}}
					<strong>{{format-number income.yearlyValue style="currency" currency="CAD"}}</strong> per year
				{{/if}}
			{{/if}}
		{{/form-field}}
		{{#form-field title="Frequency" class="column"}}
			{{view "select" content=frequencies value=income.frequency}}
		{{/form-field}}
	</div>
{{else}}
	<div class="row">
		<div class="column">
			<a {{action "toggleEditing"}} class="editable-link">
				<span class="income-source">
					{{#if income.description}}
						<em class="income-description">{{income.description}}</em>
					{{else}}
						<em class="income-source-type">
							{{#if income.source}}
								{{income.source}}
							{{else}}
								Other income source
							{{/if}}
						</em>
					{{/if}}
				</span>
			</a>
		</div>
		{{#if showApplicant}}
			{{#if income.applicant.hasName}}
				<div class="column">
				<span class="income-applicant">
					{{income.applicant.fullName}}
				</span>
				</div>
			{{/if}}
		{{/if}}
		<div class="column income-subtotal">
			<span class="income-value">{{format-number income.value style="currency" currency="CAD"}}</span>
		</div>
		{{#if income.onRemove}}
			<div class="column actions">
				<button {{bind-attr class="isEditing:remove-button:plain-warning"}} {{action "remove"}}>
					{{#liquid-if isEditing}}
						Remove Extra Income
					{{else}}
						{{accessible-icon icon="remove" title="Remove Extra Income"}}
					{{/liquid-if}}
				</button>
			</div>
		{{/if}}
	</div>
{{/liquid-if}}

{{yield}}
