{{#liquid-if isEditing}}
	{{partial "partials/toggle-edit-button"}}
	<div class="row">
		{{#form-field title="Source" class="column"}}
			{{view "select" content=incomeSources value=income.source}}
		{{/form-field}}
		{{#liquid-if isPension}}
			{{#form-field title="Pension Source"}}
				{{view "select" content=pensionTypes value=pensionType}}
			{{/form-field}}
		{{/liquid-if}}
	</div>

	<div class="row">
		{{#form-field title="Income" class="column"}}
			{{currency-input value=income.value}}
			{{#if income.value}}
				<span class="help">
					or
					{{#if income.isYearly}}
						<strong>{{format-number income.monthlyValue style="currency" currency="CAD"}}</strong> per month
					{{else}}
						<strong>{{format-number income.yearlyValue style="currency" currency="CAD"}}</strong> per year
					{{/if}}
				</span>
			{{/if}}
		{{/form-field}}
		{{#form-field title="Frequency" class="column"}}
			{{view "select" content=frequencies value=income.frequency}}
		{{/form-field}}
	</div>
	<div class="row">
		{{#form-field title="Description"}}
			{{input type="text" required=income.isOther placeholder="Describe this income source" value=income.description size=descriptionSize title="Please indicate the nature of this income source"}}
		{{/form-field}}
	</div>
{{else}}
	<div class="row">
		<div class="column">
			<div class="row">
				<a {{action "toggleEditing"}} class="editable-link">
					<span class="income-source">
						{{#if income.description}}
							<em class="income-description">{{income.description}}</em>
						{{else}}
							<em class="income-source-type">
								{{#if income.source}}
									{{income.source}}
								{{else}}
									Other income source
								{{/if}}
							</em>
						{{/if}}
					</span>
				</a>
				{{#if onRemove}}
					<div class="column actions">
						<button {{bind-attr class="isEditing:remove-button:button-plain-warning"}} {{action "remove"}}>
							{{#liquid-if isEditing}}
								Remove Extra Income
							{{else}}
								{{accessible-icon icon="cross" title="Remove Extra Income"}}
							{{/liquid-if}}
						</button>
					</div>
				{{/if}}
			</div>
		</div>
		{{#liquid-if showApplicant}}
			{{#if income.applicant.hasName}}
				<div class="column income-applicant-container">
					<span class="income-applicant">
						{{income.applicant.fullName}}
					</span>
				</div>
			{{/if}}
		{{/liquid-if}}
		<div class="column income-value table-subtotal">
			<span class="income-value">{{format-number income.value style="currency" currency="CAD"}}</span>
		</div>
	</div>
{{/liquid-if}}

{{yield}}
