<header class="table-header">
	<button class="add-button" {{action "addIncome"}}>Add Extra Income</button>
{{#unless flatList}}
	{{#liquid-if totalIncome}}
		<sup><strong>{{format-number totalIncome style="currency" currency="CAD"}}</strong> total</sup>
	{{/liquid-if}}
{{/unless}}
</header>

<ul {{bind-attr class=":income :income-table flatList:flat-list"}}>
	{{#each extraIncome in filteredIncome}}
		<li {{bind-attr class=":income extraIncome.source:extraIncome.source"}}>
			{{income-instance income=extraIncome flatList=flatList isEditable=isEditable}}
			<button {{action "removeIncome" extraIncome}} class="remove-button">Remove Extra Income</button>
		</li>
	{{else}}
		<li>No extra income sources found.  <a {{action "addIncome"}}>Add one?</a></li>
	{{/each}}
</ul>

{{#if flatList}}
	{{#liquid-if totalIncome}}
		<footer class="income-table-total">
			<sup><strong>{{format-number totalIncome style="currency" currency="CAD"}}</strong> total</sup>
		</footer>
	{{/liquid-if}}
{{/if}}

{{yield}}
