{{#if liability}}
	{{#liquid-if isEditing}}
		{{partial "partials/toggle-edit-button"}}
		{{#unless typeEditingDisabled}}
			{{#form-field title="Type"}}
				{{view "select" content=liabilityTypes optionValuePath="content.value" optionLabelPath="content.label" value=liability.type}}
			{{/form-field}}
		{{/unless}}
		{{#if liability.isOther}}
			{{#form-field title="Liability Description"}}
				{{input type="text" value=liability.description placeholder="Describe this liability" title="Optionally describe the nature of this liability"}}
			{{/form-field}}
		{{/if}}
		{{#if liability.isLoan}}
			{{#form-field title="Loan Type"}}
				{{view "select" content=loanTypes value=liability.description}}
			{{/form-field}}
			{{#form-field title="Lender"}}
				{{autocomplete-input value=liability.lender datalist="lenders" placeholder="Lender/Bank" required=true}}
			{{/form-field}}
		{{/if}}
		{{#if liability.isMortgage}}
			{{#form-field title="Maturity Date"}}
				{{input type="date" value=liability.maturityDate required=true}}
			{{/form-field}}
			{{#form-field title="Lender"}}
				{{autocomplete-input value=liability.lender required=true placeholder="Lender" datalist="lenders" title="Please provide the lender for this mortgage"}}
			{{/form-field}}
			<div class="row">
				{{#form-field title="Approximate Mortgage Balance" class="column"}}
					{{currency-input min="0" step="any" value=liability.outstandingBalance placeholder="$ Remaining" required=true title="Please indicate the remaining balance of the mortgage"}}
					{{#liquid-if liability.outstandingBalance}}
						<span class="help"><strong>{{format-number liability.outstandingBalance style="currency" currency="CAD"}}</strong> remaining</span>
					{{/liquid-if}}
				{{/form-field}}
				{{#form-field title="Payment Frequency" class="column"}}
					{{view "select" content=paymentFrequencies value=liability.paymentFrequency}}
				{{/form-field}}
			</div>
		{{else}}
			{{#unless liability.isChildSupport}}
				{{#form-field title="Outstanding Balance"}}
					{{currency-input min="0" step="any" value=liability.outstandingBalance placeholder="$ Overdue"}}
				{{/form-field}}
				{{#liquid-if liability.outstandingBalance}}
					<span class="help"><strong>{{format-number liability.outstandingBalance style="currency" currency="CAD"}}</strong> remaining</span>
				{{/liquid-if}}
			{{/unless}}
		{{/if}}
		{{#if liability.isLineOfCredit}}
			{{#form-field title="Bank/Financial Institution"}}
				{{autocomplete-input value=liability.lender datalist="lenders" placeholder="Bank Name" required=true title="Please provide the bank or financial institution of your personal line of credit"}}
			{{/form-field}}
			{{#form-field title="Available Limit"}}
				{{currency-input value=liability.limit required=true title="Please provide the maximum amount that can be alotted to you by this line of credit"}}
			{{/form-field}}
		{{/if}}

		{{#unless liability.isCreditCard}}
			{{#form-field title=paymentLabel}}
				{{currency-input min="0" step="any" value=liability.payment placeholder="Payment" required=true title="Please indicate the monthly payment for this liability"}}
			{{/form-field}}
		{{else}}
			{{#form-field title="Monthly Payment"}}
				{{currency-input min="0" step="any" value=liability.payment placeholder="Payment" required=true title="Please indicate the monthly amount you are being charged for this credit card"}}
			{{/form-field}}
			{{#form-field title="Credit Card Type"}}
				{{view "select" content=creditCardTypes optionValuePath="content.value" optionLabelPath="content.label" value=liability.creditCardType required=true title="Please select a credit card type"}}
			{{/form-field}}
			{{#form-field title="Bank/Financial Institution"}}
				{{autocomplete-input value=liability.lender datalist="lenders" placeholder="Bank Name" required=true title="Please provide the bank you use for your credit card"}}
			{{/form-field}}
		{{/unless}}
		{{#if onRemove}}
			<button class="remove-button" {{action "remove"}}>
				Remove
				{{#if liability.type}}
					{{liability.type}}
				{{else}}
					Liability
				{{/if}}
			</button>
		{{/if}}
	{{else}}
		<div class="row">
			<div class="column">
				<div class="row">
					<div class="column">
						<a class="editable-link" {{action "toggleEditing"}}>
							{{#if liability.description}}
								<span class="liability-description">{{liability.description}}</span>
							{{else}}
								<em class="liability-type">
									{{#if liability.type}}
										{{liability.type}}
									{{else}}
										Other Liability
									{{/if}}
								</em>
							{{/if}}
						</a>
					</div>
					{{#if onRemove}}
						<div class="column actions">
							<button {{bind-attr class="isEditing:remove-button:button-plain-warning"}} {{action "remove"}}>
								{{#liquid-if isEditing}}
									Remove {{type}} Liability
								{{else}}
									{{accessible-icon icon="cross" title="Remove Extra Income"}}
								{{/liquid-if}}
							</button>
						</div>
					{{/if}}
				</div>
			</div>
			{{#if liability.applicant}}
				<div class="column">
					<span class="liability-applicant">{{liability.applicant.fullName}}</span>
				</div>
			{{/if}}
			<div class="column">
				<span class="liability-payment table-subtotal">{{format-number liability.payment style="currency" currency="CAD"}}</span>
			</div>
		</div>
	{{/liquid-if}}
{{else}}
	Aww.  no liability found.
{{/if}}
{{yield}}
