<button title="Add a Liability" {{action "addLiability"}}>Add
	{{#liquid-if type}}
		 {{type}}
		{{else}}
			 Liability
	{{/liquid-if}}
</button>

<ul class="liabilities">
	{{#each liability in filteredLiabilities}}
		<li {{bind-attr class=":liability liability.type"}}>
			{{liability-instance liability=liability typeEditingDisabled=type}}
			<button {{action "removeLiability" liability}}>Remove
				{{#liquid-if type}}
					 {{type}}
				{{else}}
					 Liability
				{{/liquid-if}}
			</button>
		</li>
	{{else}}
		<li>No liabilities found.  <a {{action "addLiability" title="Add a liability"}}>Add one</a></li>
	{{/each}}
</ul>

{{yield}}
