<header class="table-header">
	<button title="Add a Liability" {{action "addLiability"}} class="add-button">Add {{typeName}}</button>
</header>

<ul class="liabilities">
	{{#each filteredLiabilities key="@guid" as |liability|}}
		<li {{bind-attr class=":liability liability.type"}}>
			{{liability-instance liability=liability typeEditingDisabled=type isEditable=isEditable onRemove="removeLiability"}}
		</li>
	{{else}}
		<li>No liabilities found.  <a {{action "addLiability" title="Add a liability"}}>Add one</a></li>
	{{/each}}
</ul>

{{#liquid-if totalLiabilities}}
	<footer class="table-total">
		<sup><strong>{{format-number totalLiabilities style="currency" currency="CAD"}}</strong> total</sup>
	</footer>
{{/liquid-if}}
{{yield}}
