<header class="table-header">
	<h4>
	{{#if caption}}
		{{caption}},
	{{/if}}
		 <sup><strong>{{format-number totalValue style="currency" currency="CAD"}}</strong> total real estate value</sup>
	</h4>
	<button {{action "addProperty"}} title="Add a Property" class="add-button">Add Property</button>
</header>

<ul class="properties">
	{{#each property in properties}}
		<li {{bind-attr class=":property-asset property.isRental:rental"}}>
			{{#property-asset property=property}}<button {{action "removeProperty" property}} class="remove-button">Remove Property</button>{{/property-asset}}
		</li>
	{{else}}
		<li>
			No properties found.
			<a {{action "addProperty"}} title="Add a property">Add One?</a>
		</li>
	{{/each}}
</ul>
{{yield}}
