<button {{action "addProperty"}} title="Add a Property">Add Property</button>
<header>
	<h4>{{#if caption}}
		{{caption}}, <sup><strong>${{totalValue}}</strong> total real estate value</sup>
	{{/if}}</h4>
</header>

<ul class="properties">
	{{#each property in properties}}
		<li {{bind-attr class=":property-asset property.isRental:rental"}}>
			{{#property-asset property=property}}<button {{action "removeProperty" property}}>Remove Property</button>{{/property-asset}}
		</li>
	{{else}}
		<li>
			No properties found.
			<button {{action "addProperty"}}>Add One?</button>
		</li>
	{{/each}}
</ul>
{{yield}}
