{{#if property}}
	{{#form-section title="Address and Location"}}
		{{historical-address address=property.address}}
		{{#form-field title="Estimated Property Value"}}
			{{currency-input value=property.value placeholder="Property Value" min="0" step="any"}}
		{{/form-field}}
		{{#form-field title="Property Taxes"}}
			{{currency-input value=property.propertyTaxes placeholder="Property Taxes" min="0" step="any"}}
			{{#if property.propertyTaxes}}
				<span class="help">{{property.propertyTaxes}} * 12 = <strong>{{format-number property.propertyTaxesAnnual style="currency" currency="CAD"}} per year</strong></span>
			{{/if}}
		{{/form-field}}
	{{/form-section}}
	{{#form-section title="Mortgage"}}
		{{#form-field title="Does this property have a mortgage?"}}
			{{on-off-switch checked=hasMortgage}}
		{{/form-field}}
		{{#liquid-if hasMortgage}}
			{{liability-instance liability=property.mortgage typeEditingDisabled=true}}
		{{/liquid-if}}
		{{#form-field title="Does this property have a secured line of credit?"}}
			{{on-off-switch checked=hasLineOfCredit}}
		{{/form-field}}
		{{#liquid-if hasLineOfCredit}}
			{{liability-instance liability=property.lineOfCredit typeEditingDisabled=true}}
		{{/liquid-if}}
	{{/form-section}}
{{else}}
	Hmmm... no property was found here.  Maybe try refreshing?
{{/if}}

{{yield}}
