<select onchange={{action "selectOne" value="target.value"}} required={{required}}>
  {{#if prompt}}
    <option value="" selected>{{prompt}}</option>
  {{/if}}
  {{#each content as |model|}}
    <option value={{get model optionValuePath}}>
      {{get model optionLabelPath}}
    </option>
  {{/each}}
</select>