{{#liquid-if tips.length}}
	<ul class="tips-list">
		{{#each tip in enabledTips}}
			<li class="tip">
				{{#liquid-if tip.tooltip}}
					{{tip.tooltip}}
				{{else}}
					We will use {{tip.property}} for...
				{{/liquid-if}}
			</li>
		{{/each}}
	</ul>
	{{else}}
		No tips found
{{/liquid-if}}

{{yield}}
