<datalist id="vehicle-makes">
	{{#each vehicles as |vehicleMake|}}
		<option {{bind-attr value=vehicleMake.value}}>{{vehicleMake.title}}</option>
	{{/each}}
</datalist>
<datalist id="vehicle-models">
	{{#each models.firstObject.models as |model|}}
		<option {{bind-attr value=model.value}}>{{model.title}}</option>
	{{/each}}
</datalist>

{{#form-field title="Vehicle Year"}}
	{{year-select value=vehicle.year required=true title="Plese provide the year the vehicle was manufactured"}}
{{/form-field}}
{{#form-field title="Vehicle Make"}}
	{{autocomplete-input type="text" value=vehicle.make title="Please enter a valid vehicle make" required=true placeholder="vehicle.make" datalist="vehicle-makes"}}
{{/form-field}}
{{#form-field title="Vehicle Model"}}
	{{autocomplete-input type="text" value=vehicle.model placeholder="Vehicle Model Name" datalist="vehicle-models"}}
{{/form-field}}

{{asset-instance asset=vehicle.asset}}

{{#form-field title="Is this vehicle being loaned?"}}
	{{on-off-switch checked=isLoaned title="Please indicate whether this vehicle is currently being loaned"}}
{{/form-field}}
{{#liquid-if isLoaned}}
	{{liability-instance liability=vehicle.loan typeEditingDisabled=true}}
{{/liquid-if}}


{{yield}}
