<header class="table-header">
	<button class="add-button" {{action "addVehicle"}}>Add Vehicle</button>
</header>

<ul class="vehicles">
	{{#each vehicles key="@guid" as |vehicle|}}
		<li {{bind-attr class=":vehicle :vehicle-asset vehicle.make:has-make"}}>
			{{vehicle-instance vehicle=vehicle}}
			<button {{action "removeVehicle" vehicle}} class="remove-button">Remove Vehicle</button>
		</li>
	{{else}}
		<li>No vehicles found.  <a {{action "addVehicle"}}>Add one?</a></li>
	{{/each}}
</ul>
{{yield}}
