{{#if showBreadcrumbs}}
	<ul class="wizard-steps-breadcrumbs">
		{{#each steps as |step|}}
			{{wizard-step step=step.step name=step.name icon=step.icon}}
		{{else}}
			No steps found!
		{{/each}}
	</ul>
{{/if}}

{{#if totalSteps}}
	<progress {{bind-attr value=realStepNumber min=min max=totalSteps}} class="wizard-steps-progress">
		<span class="info">Step {{currentStepNumber}} of {{totalSteps}}</span>
	</progress>
	{{wizard-step step=realStepNumber stepName=currentStepName stepIcon=currentStepIcon totalSteps=totalSteps}}
{{/if}}

{{yield}}
