{{#if totalSteps}}
	<progress value="{{realStepNumber}}" max="{{totalSteps}}" class="wizard-steps-progress">
		<span class="info">Step {{currentStepNumber}} of {{totalSteps}}</span>
	</progress>
	{{#wizard-step step=realStepNumber stepName=currentStepName stepIcon=currentStepIcon totalSteps=totalSteps hasBreadcrumbs=showBreadcrumbs}}
		{{#liquid-if showBreadcrumbs}}
			<ul class="wizard-steps-breadcrumbs">
				{{#each steps as |step|}}
					<li class="wizard-steps-breadcrumb">
						{{#link-to step.url title=step.title class="wizard-steps-breadcrumb-link"}}{{step.title}}{{/link-to}}
					</li>
				{{/each}}
			</ul>
		{{/liquid-if}}
	{{/wizard-step}}
{{/if}}

{{yield}}
