{{#validatable-form action="nextStep"}}
	<button {{action "addApplicant"}} class="add-button">Add Co-Applicant</button>
	<ul class="applicants">
		{{#each applicant in applicants}}
			<li {{bind-attr class=":applicant applicant.isPrimary:primary:co-applicant"}}>
				{{applicant-card applicant=applicant isEditing=true onRemoveApplicant="removeApplicant" onCopyAddresses="copyAddresses" isEditable=false}}
			</li>
		{{else}}
			<li>No Co-Applicants selected.  <button {{action "addApplicant"}} class="add-button">Add one</button></li>
		{{/each}}
	</ul>
	<footer class="form-actions">
		<button type="submit">Review Application</button>
	</footer>
{{/validatable-form}}
