<h1 class="announcement">Thanks for coming in</h1>
<article>
	<section class="quick-application box">
		{{#validatable-form action="nextStep"}}
			<div class="row">
				{{#form-field title="First Name" class="column one-half" layoutDirection="vertical"}}
					{{input value=model.applicant.firstName placeholder="First Name" required=true autofocus="autofocus" id="first-name" title="Please provide your first name"}}
				{{/form-field}}
				{{#form-field title="Last Name" class="column one-half" layoutDirection="vertical"}}
					{{input value=model.applicant.lastName placeholder="Last Name" required=true id="last-name" title="Please provide your last name"}}
				{{/form-field}}
			</div>
			<div class="row">
				{{#form-field title="Email" class="column one-half" layoutDirection="vertical"}}
					{{input value=model.applicant.email required=true type="email" placeholder="Email" id="email"}}
				{{/form-field}}
				{{#form-field title="Phone" class="column one-half" layoutDirection="vertical"}}
					{{input value=model.applicant.phone type="tel" required=true placeholder="Phone" id="phone"}}
				{{/form-field}}
			</div>
			{{#form-field title="How'd you hear about me?"}}
				{{view "select" content=sourceTypes optionValuePath="content.value" optionLabelPath="content.label" value=model.source id="how'd-you-hear-about-me?" required=true}}
			{{/form-field}}
			{{#form-field title="What Can I do for you?"}}
				{{view "select" content=goals optionValuePath="content.value" optionLabelPath="content.label" value=model.type id="what-can-i-do-for-you?" required=true}}
			{{/form-field}}
			{{#form-field title="Additional Comments" layoutDirection="vertical"}}
				{{textarea value=model.comment class="row" placeholder="Is there anything else I can do for you?" rows=comment.length id="anything-else-i-can-do?"}}
			{{/form-field}}
			<footer class="form-actions">
				<button type="submit" title="Continue to Full Application">Complete Full Application</button>
			</footer>
		{{/validatable-form}}
	</section>
</article>
