<h1 class="announcement">Let's Get Started</h1>
<p class="intro-help">To begin, we will need to gather a little information.  Any details you provide are used solely for the purpose of mortgage qualification and remain strictly confidential.   This is a secure form and will help us identify the best possible mortgage products available to you.  There is no cost or obligation in submitting this form.</p>
<article>
	<section class="quick-application box">
		{{#validatable-form action="nextStep"}}
			<div class="row">
				{{#form-field label="First Name" class="column one-half" layoutDirection="vertical"}}
					{{expandable-input value=applicant.firstName placeholder="First Name" required=true autofocus="autofocus" id="first-name" autocomplete="given-name" title="Please provide your first name"}}
					{{#liquid-if applicant.hasName}}
						<span class="help">Hi <strong>{{applicant.firstName}}</strong>.  Thanks for coming in!</span>
					{{/liquid-if}}
				{{/form-field}}
				{{#form-field label="Last Name" class="column one-half" layoutDirection="vertical"}}
					{{expandable-input value=applicant.lastName placeholder="Last Name" required=true id="last-name" title="Please provide your last name" autocomplete="family-name"}}
				{{/form-field}}
			</div>
			<div class="row">
				{{#form-field label="Email" class="column one-half" layoutDirection="vertical"}}
					{{expandable-input value=applicant.email required=true type="email" placeholder="Email" id="email" autocomplete="email" title="Please provide your e-mail address"}}
				{{/form-field}}
				{{#form-field label="Phone" class="column one-half" layoutDirection="vertical"}}
					{{input-mask mask="999-999-9999" value=applicant.phone required=true placeholder="Phone" id="phone" autocomplete="tel" title="Please provide your primary phone number"}}
					{{#liquid-if applicant.hasPhone}}
						<span class="help">
							{{#if model.agent}}
								I'll call you at <strong>{{applicant.phone}}</strong> once I get the rest of your information.
							{{else}}
								We'll call you at <strong>{{applicant.phone}}</strong> once we get the rest of your information.
							{{/if}}
						</span>
					{{/liquid-if}}

				{{/form-field}}
			</div>
			{{#form-field label="How did you hear about me?"}}
				{{select-list content=sourceTypes optionValuePath="value" optionLabelPath="label" value=application.source required=true prompt=" -- " title="Please select the way that you heard about me" action=(action (mut application.source))}}
			{{/form-field}}
			{{#liquid-if model.isReferral}}
				{{#form-field label="Which realtor?  I would like to thank them!"}}
					{{input type="text" value=application.referredBy required=true placeholder="Which realtor?" title="Please indicate which realtor referred me to you"}}
				{{/form-field}}
			{{/liquid-if}}
			{{#liquid-if model.isOther}}
				{{#form-field label="Ok, I give up.  How did you hear about me?"}}
					{{input type="text" value=application.referredBy required=true placeholder="Other Referral Source" title="Please indicate what other source brought you here"}}
				{{/form-field}}
			{{/liquid-if}}
			{{#liquid-if model.referredByFriend}}
				{{#form-field label="Which friend?  I would like to thank them!"}}
					{{input type="text" value=application.referredBy required=true placeholder="Friend's Name" title="You didn't tell me your friend's name yet..."}}
				{{/form-field}}
			{{/liquid-if}}
			{{#form-field label="What can I do for you?"}}
				<span>I would like to: </span>
				{{select-list content=goals optionValuePath="value" optionLabelPath="label" value=application.type id="what-can-i-do-for-you?" required=true prompt=" -- " title="Please indicate how I can help you" action=(action (mut application.type))}}
			{{/form-field}}
			{{#liquid-if model.isPurchase}}
				{{#form-field label="How much do you have?"}}
					{{currency-input value=application.downPayment required=true title="Please indicate the amount which you can provide in CAD as a downpayment"}}
					{{#liquid-if model.downPayment}}
						<span class="help">A downpayment of <strong>{{format-number model.downPayment style="currency" currency="CAD"}}</strong></span>
					{{/liquid-if}}
				{{/form-field}}
				{{#liquid-if model.downPayment}}
					{{#form-field label="Where is your downpayment coming from?"}}
						{{select-list content=downPaymentSources optionValuePath="value" optionLabelPath="label" value=application.downPaymentSource action=(action (mut application.downPaymentSource))}}
					{{/form-field}}
					{{#liquid-if model.isOtherDownPaymentSource}}
						{{#form-field label="Please describe your other 'other' downpayment source"}}
							{{input type="text" value=application.downPaymentExplanation title="Please provide a downpayment source" required=true placeholder="Source"}}
						{{/form-field}}
					{{/liquid-if}}
				{{/liquid-if}}
			{{/liquid-if}}
			{{#form-field label="Additional Comments" layoutDirection="vertical"}}
				{{textarea value=application.comment class="row" placeholder="Is there anything else I can do for you?" rows=application.commentRows id="anything-else-i-can-do?" title="Anything else you would like to add?"}}
				{{#liquid-if application.hasComment}}
					<span class="help"><strong>Cool</strong>.  Thanks for the heads-up!</span>
				{{/liquid-if}}
			{{/form-field}}
			<footer class="form-actions">
				<button class="button-info-inverted" {{action "sendIncomplete"}} type="submit" title="Send me your message, and I'll get back to you as soon as I can">Contact Me Now</button>
				<button type="submit" title="Continue to Full Application">Complete Full Application</button>
			</footer>
		{{/validatable-form}}
	</section>
</article>
