{{wizard-step stepName="Liabilities" totalSteps=5 step=3}}

{{#validatable-form action="nextStep"}}
	<ol class="form-steps">
		<li class="form-step">
			{{#form-field title="Do you have any mortgages or secured lines of credit on any properties?"}}
				{{input type="checkbox" checked=hasMortgages id="do-you-have-any-mortgages-or-secured-lines-of-credit-on-any-properties?"}}
			{{/form-field}}
			{{#if hasMortgages}}
				{{liability-table type="mortgage" liabilities=model.applicant.liabilities properties=model.applicant.properties}}
			{{/if}}
		</li>
		<li class="form-step">
			{{#form-field title="Do you have any credit cards with outstanding balances?"}}
				{{input type="checkbox" checked=hasCreditCard id="do-you-have-any-credit-cards-with-outstanding-balances?"}}
			{{/form-field}}
			{{#if hasCreditCard}}
				{{liability-table type="credit-card" liabilities=model.applicant.liabilities}}
			{{/if}}
		</li>
		<li class="form-step">
			{{#form-field title="Do you have a line of credit?"}}
				{{input type="checkbox" checked=hasLineOfCredit id="do-you-have-a-line-of-credit?"}}
			{{/form-field}}
			{{#if hasLineOfCredit}}
				{{liability-table type="line-of-credit" liabilities=model.applicant.liabilities}}
			{{/if}}
		</li>
		<li class="form-step">
			{{#form-field title="Do you have any loans?"}}
				{{input type="checkbox" checked=hasLoans id="do-you-have-any-loans?"}}
			{{/form-field}}
			{{#if hasLoans}}
				{{liability-table type="loan" liabilities=model.applicant.liabilities}}
			{{/if}}
		</li>
		<li class="form-step">
			{{#form-field title="Are you currently paying child support or maintenance payments?"}}
				{{input type="checkbox" checked=hasChildSupport id="are-you-currently-paying-child-support-or-maintenance-payments?"}}
			{{/form-field}}
			{{#if hasChildSupport}}
				{{liability-table type="child-support" liabilities=model.applicant.liabilities}}
			{{/if}}
		</li>
		<li class="form-step">
			{{#form-field title="Do you have any auto loan payments?"}}
				{{input type="checkbox" checked=hasAutoLoans id="do-you-have-any-auto-loan-payments?"}}
			{{/form-field}}
			{{#if hasAutoLoans}}
				{{liability-table type="auto-loan" liabilities=model.applicant.liabilities}}
			{{/if}}
		</li>
		<li class="form-step">
			{{#form-field title="Do you have any other monthly debt payments?"}}
				{{input type="checkbox" checked=hasOtherLiabilities id="do-you-have-any-other-monthly-debt-payments?"}}
			{{/form-field}}
			{{#if hasOtherLiabilities}}
				{{liability-table liabilities=model.applicant.liabilities type="other"}}
			{{/if}}
		</li>
	</ol>
	<footer class="form-actions">
		<button type="submit">Continue to Co-Applicants</button>
	</footer>
{{/validatable-form}}
{{outlet}}
