{{wizard-step stepName="Co-Applicants" totalSteps=4 step=3}}
{{#validatable-form action="nextStep"}}
	{{#each applicant in applicants}}
		{{#if applicant.hasName}}
			<header class="applicant-name">
					<span class="applicant-full-name">{{applicant.fullName}}</span>
			</header>
		{{/if}}
		{{#form-section title="basic-information" icon="info-sign"}}
			<div class = "row">
				{{#form-field title="First Name" class="one-half"}}
					{{input value=applicant.firstName placeholder="First Name" required="required" autofocus="autofocus"}}
				{{/form-field}}
				{{#form-field title="Last Name" class="one-half"}}
					{{input value=applicant.lastName placeholder="Last Name" required="required"}}
				{{/form-field}}
			</div>
			{{#form-field title="Email"}}
				{{input value=applicant.email required="required" type="email" placeholder="Email"}}
			{{/form-field}}
			{{#form-field title="Phone"}}
				{{input value=applicant.phone type="tel" required="required" type="username" placeholder="Phone"}}
			{{/form-field}}
		{{/form-section}}
		{{#form-section title="Employment" icon="hat"}}
			{{#each historicalEmployment in applicant.employment}}
				{{historical-employment employment=historicalEmployment}}
			{{else}}
				No employment history for {{applicant.fullName}}.  <button {{action "addEmployment" applicant}}>Add Employment</button>
			{{/each}}
		{{/form-section}}
	{{else}}
		<!-- fallback -->
	{{/each}}
{{/validatable-form}}
