{{header-step step=2 totalSteps=6 previousStep=1 stepName="Applicants" showBreadcrumbs=true showSubmitButton=true agent=model.agent brokerage=model.agent.brokerage}}

<h1 class="announcement"><strong>{{model.dear}}</strong>, tell me about yourself</h1>
<p class="intro-help">Before we continue, we'll need a couple other details about your job, your date of birth, and any other income sources.</p>
{{#validatable-form action="nextStep"}}
    <button {{action "addApplicant"}} class="add-button add-applicant">Add Co-Applicant</button>
    <ul class="applicants">
        {{#each model.applicants as |applicant index|}}
            <li class="applicant {{if (eq index 0) "primary" "co-applicant"}}">
                {{applicant-card applicant=applicant
                                 is_editable=true
                                 is_editing=true
                                 is_primary=(eq index 0)}}
            </li>
        {{else}}
            <li>No Co-Applicants selected.  <button {{action "addApplicant"}} class="add-button">Add one</button></li>
        {{/each}}
    </ul>
    <footer class="form-actions">
        <button type="submit">Continue to Assets</button>
    </footer>
{{/validatable-form}}

{{footer-section brokerage=model.agent.brokerage}}
