<header role="banner" data-current-step="{{currentStep}}">
	{{wizard-steps steps=steps currentStepNumber=currentStep}}
	{{#if model.agent}}
		<aside class="agent-callout" role="complementary">
			{{#if model.agent.image}}
				<img src = "{{model.agent.image}}" alt = "{{model.agent.fullName}}" class="agent-callout-image"/>
			{{else}}
				{{#if model.agent.email}}
					{{#email-address email=model.agent.email title="Email me now" class="agent-callout-email"}}
						{{gravatar-image email=model.agent.email alt=model.agent.fullName size=100 defaultImage="identicon" class="agent-callout-image" secure=false title=model.agent.fullName}}
					{{/email-address}}
				{{/if}}
			{{/if}}
			<h1 class="agent-callout-name">{{model.agent.fullName}}</h1>
			<span class="agent-callout-phone">{{phone-number number=model.agent.phone}}</span>
		</aside>
	{{/if}}
	{{#liquid-if currentStep}}
		<button {{action "sendIncomplete"}} class="header-action">Submit As-Is</button>
	{{/liquid-if}}
</header>

<datalist id="lenders">
	{{#each lender in lenders}}
		<option {{bind-attr value=lender}}></option>
	{{/each}}
</datalist>

<datalist id="banks">
	{{#each bank in banks}}
		<option {{bind-attr value=bank}}></option>
	{{/each}}
</datalist>

<main role="main">
	{{liquid-outlet}}
</main>
