<header role="banner" data-current-step="{{currentStep}}">
	{{wizard-steps steps=steps currentStepNumber=currentStep}}
	{{#if currentStep}}
		<button {{action "sendIncomplete"}} class="header-action">Submit Application As-is</button>
	{{/if}}
</header>

<datalist id="lenders">
	{{#each lender in lenders}}
		<option {{bind-attr value=lender}}></option>
	{{/each}}
</datalist>
<main role="main">
	{{liquid-outlet}}
</main>
