<header role="banner" data-current-step="{{currentStep}}">
	{{wizard-steps steps=steps currentStepNumber=currentStep showBreadcrumbs=showBreadcrumbs isFloating=hasAgent}}
	{{#if hasAgent}}
		<aside class="agent-callout" role="complementary">
			{{#if model.agent.image}}
				{{#if model.agent.email}}
					{{#email-address email=model.agent.email title="Email me now" class="agent-callout-email"}}
						<img src = "{{model.agent.image}}" alt = "{{model.agent.fullName}}" class="agent-callout-image"/>
					{{/email-address}}
				{{else}}
					<img src = "{{model.agent.image}}" alt = "{{model.agent.fullName}}" class="agent-callout-image"/>
				{{/if}}
			{{else}}
				{{#if model.agent.email}}
					{{#email-address email=model.agent.email title="Email me now" class="agent-callout-email"}}
						{{gravatar-image email=model.agent.email alt=model.agent.fullName size=100 defaultImage="identicon" class="agent-callout-image" secure=false title=model.agent.fullName}}
					{{/email-address}}
				{{/if}}
			{{/if}}
			<h1 class="agent-callout-name">
				{{#if model.agent.website}}
					<a href="{{model.agent.website}}" class="agent-callout-link" target="_blank" title="Visit {{model.agent.fullName}} online">
						{{model.agent.fullName}}
					</a>
				{{/if}}
			</h1>
			<span class="agent-callout-phone">{{phone-number number=model.agent.phone}}</span>
		</aside>
	{{else}}
		{{#unless model.brokerage.isDefault}}
			<aside class="brokerage-callout" role="complementary">
				{{#if model.brokerage.website}}
					<a href="http://{{model.brokerage.website}}" class="brokerage-callout-link" target="_blank">
						<img src = "{{model.brokerage.image}}" alt = "{{model.brokerage.name}}" title="{{model.brokerage.name}}" class="brokerage-callout-image"/>
						<span class="brokerage-callout-phone">{{phone-number number=model.brokerage.phone}}</span>
					</a>
				{{else}}
					<img src = "{{model.brokerage.image}}" alt = "{{model.brokerage.name}}" title="{{model.brokerage.name}}" class="brokerage-callout-image"/>
					<span class="brokerage-callout-phone">{{phone-number number=model.brokerage.phone}}</span>
				{{/if}}
			</aside>
		{{/unless}}
	{{/if}}
	{{#if currentStep}}
		{{#unless hideLegacy}}
			<button {{action "sendIncomplete"}} class="header-action">Submit As-Is</button>
		{{/unless}}
	{{/if}}
</header>

<datalist id="lenders">
	{{#each lenders as |lender|}}
		<option value="{{lender}}"></option>
	{{/each}}
</datalist>

<datalist id="banks">
	{{#each banks as |bank|}}
		<option value="{{bank}}"></option>
	{{/each}}
</datalist>

<main role="main">
	{{liquid-outlet}}
</main>

<footer role="contentinfo">
	{{#if model.brokerage}}
		{{brokerage-address brokerage=model.brokerage}}
	{{else}}
		{{#if model.agent.brokerage}}
			{{brokerage-address brokerage=model.agent.brokerage}}
		{{else}}
			<small>Copyright <strong><a href="http://{{model.brokerage.website}}" class="brokerage-link" target="_blank">{{model.brokerage.name}}</a></strong> {{format-date now day="numeric" month="long" year="numeric"}}</small>
		{{/if}}
	{{/if}}
	{{#unless hideLegacy}}
		<aside class="tips">
			<small class="tip">Having trouble viewing this application?  <a href="https://secure-mortgage-online.ca/legacy/wizard?agent={{model.agent.id}}&brokerage={{model.brokerage.id}}" target="_blank">Try our legacy application</a></small>
		</aside>
	{{/unless}}
</footer>
